
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h3>AirQual <small class="text-muted">v0.1</small></h3>
            Copyright &copy; 2018 Anthony Byrne & Huzefa Mandviwala
            <br />
            A Boston University <a href="http://www.bu.edu/eng/departments/ece/undergraduate/ece-day/">ENG EC463</a> Miniproject
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="https://github.com/abyrne55/air-quality-monitor/">GitHub</a>
            <a class="btn btn-primary" href="https://github.com/abyrne55/air-quality-monitor/blob/master/LICENSE">License</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
