{% include 'monitor/header.html' %}

<main role="main" class="container">
  <h1>{{ sensor.name }}</h1>
  <small class="text-muted">API Key: {{ api_key }}</small>

  {% if sensor.malfunction %}
  <div class="alert alert-warning" role="alert">
    This sensor reported a value outside of its normal range, which may indicate a malfunction. Check the sensor, then <a href="?clear_warning=1" class="alert-link">click here</a> to dismiss.
  </div>
  {% endif %}

  <div class="row">
    <div class="col-10">
      <canvas id="sensorChart" height="100"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Latest Data</h4>
      <ul>
    	{% for datapoint in dp_short %}
        <li>{{ datapoint.value }} {{ sensor.unit }} @ {{ datapoint.timestamp }}</li>
    	{% empty %}
        <li>No data associated with this sensor</li>
    	{% endfor %}
    	</ul>
    </div>
  </div>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">
    Delete Sensor
  </button>

</main>

<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delModalLabel">Are you sure?</h5>
      </div>
      <div class="modal-body">
        Deleting this sensor will also irreversibly delete all of its past data.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/monitor/del/{{ sensor.id }}/">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- Chart.js Code-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
var ctx = document.getElementById("sensorChart").getContext('2d');
var sensorChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for dp in datapoints %} "{{ dp.timestamp }}", {% endfor %}],
        datasets: [{
            label: '{{ sensor.name }} ({{ sensor.unit }})',
            data: [{% for dp in datapoints %} {{ dp.value }}, {% endfor %}],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                }
            }]
        }
    }
});
</script>

{% include 'monitor/footer.html' %}
